<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | Noa</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <ul>
            <li>
                <img src="" alt="logo">
            </li>
            <li>
                <a href="">Menu</a>
            </li>
            <li>
                <a href="">Gallery</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
    <div class="left_side_border">Noa Dahan</div>
    <div class="right_side_border">Contact Me</div>
    <div>
        <img src="" alt="Hi Typography">
    </div>
    <div>
        <img src="" alt="me">
        <a href="">Instagram</a>
        <a href="">Facebook</a>
    </div>
    <div class="grid">
        <img src="">
        <div>
            <img src="">
            <img src="">
            <img src="">
        </div>
        <div>
            <img src="">
            <img src="">
            <img src="">
            <img src="">
        </div>
        <img src="">
        <img src="">
    </div>
    <div>
        <img src="" alt="inspiration">
    </div>
    <div class="footer">
        <a href="">Instagram</a>
        <a href="">Facebook</a>
        <p>contact details</p>
    </div>

</div>
</body>
</html>