.navbar{
  background-color: rgb(249, 115, 0);
}
.color{
  color: white;
}
.right{
  float: right;
}
.jumbotron {
    position: relative;
    background: url('portfolio_setup/images/headerback.jpg');
    background-size: cover;
    background-position: center center;
    padding: 15%;
}
.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.jumbotron > .inner {
    position: relative;
    z-index: 2;
    color: rgb(80, 100, 103, 0.8);
    margin-top: 0;
}
.jumbotron .display-4{
  font-size: 2em;
  color: rgb(249, 115, 0);
}
.portfolio_titles{
  color: orange;
  font-size: xx-large;
  font-weight: 300;
  margin: 4vw auto;
}
.border_row{
  border-left: 3px #018080 solid;
}
.name{
  text-align: left;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 20px;
  color: #018080;
}
#job-desc{
  color: black;
  text-align: center;
  font-size: 1em;
}
.profile_pic{
  border-radius: 50%;
  max-width: 100%;
}
.self_desc{
  text-align: justify;
  font-size: 1em;
  width: 70%;
  max-width: 100%;
}
.inner_port{
  width: 80%;
  margin-top: 8vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.height-blog-img{
  height: 150px;
}
.name-team{
  background-color: rgb(249, 115, 0);
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border-bottom-left-radius: 100px;
}
.job-team{
  color: #506467;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
}
